/* Header Components */
.header {
    font-weight: 700;
    text-align: center;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s ease;
}

.header:hover {
    background-color: #d0d0d0;
}

/* Driver Card Components */
.driver-card {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: move;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition:
        opacity 0.3s ease,
        box-shadow 0.3s ease;
}

.driver-card:hover {
    opacity: 0.8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.driver-card:active {
    cursor: grabbing;
}

/* Race Slot Components */
.race-slot {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    min-height: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.race-slot:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Button Components */
#reset-button,
#reset-future-button,
#landoP1verP2 {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

#reset-button {
    background-color: #f44336;
    color: white;
    border: none;
}

#reset-button:hover {
    background-color: #d32f2f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#reset-future-button,
#landoP1verP2 {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#reset-future-button:hover,
#landoP1verP2:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
